html{
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body{
	margin:0;
	background-color: #feeddd;
}

h1 {
	color: white;
	font-size: 35px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	text-align: center;
	padding:15px 0 10px 0;
}	

section {
	margin: 0;
}

hr{
	width: 70%;
}
aside {
	float: right;
	margin: 0;
}

fieldset {
	margin: 10px;
	border: 2px solid gray;
	border-radius: 10px;
	padding: 15px;
}

a, a:visited{
	color:white;
}

.logo{
/*	margin: 0 auto;
	padding: 20px 0 25px 0;*/
	float: left;
	text-align: center;
	width: 30%;
	min-width: 250px;
	max-width: 20%;
	height: 100%;
	padding: 20px 0 25px 0;
	margin: 0% 0 0% 10%;
	background-color: teal;
}

footer {
	clear: top;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5%;
	min-height: 20px;
	border-top: 5px solid teal;
	background-color: #353535;
	color: white;
	text-align: center;
	padding-top: 10px;
	margin-top: 10px;
	overflow: auto;
}

.headercontainer {
	position:relative;
	clear: both;
	overflow: auto;
	white-space: nowrap;
	border-bottom: 5px solid #353535;
}


nav{
	margin:0;
	position: absolute;
	right:10%;
	bottom:0;
	float: right;
	display: flex;
	justify-content: space-around;
	width: 250px;
	white-space: nowrap;
	z-index: 2;
	background-color: teal;
	border: 2px solid black;
	border-radius: 10px;
	overflow: auto;
}

.navlink{
	padding: 10px 10px 10px 10px;
	text-decoration: none;
}

div{
	margin: 0;
}

.container{
		max-width: 960px;
		margin: 0 auto;
}

#leftSection{
	float: left;
	display: inline-block;
	width: 49%;
	min-width: 205px;
	max-width: 644px;
	margin: 1% 1% 13% 5%;
	border: 2px solid black;
	border-radius: 15px;
	background-color: #ffdab3;
	overflow: auto;
}

.textcontainer{
	padding: 10px;
}

.leftSectionText{
	display: inline;
	word-wrap: break-word;
	margin: 20px 25px;
}

#rightSection{
	float: right;
	width: 25%;
	max-width: 360px;
	min-width: 115px;
	margin: 1% 10% 10% 1%;
	border: 2px solid black;
	border-radius: 15px;
	background-color: #ffdab3;
}

@media screen and (max-width: 500px ) and (min-width: 0px){
	.headercontainer{
	}

	#leftSection{
		width: 90%;
		margin: 1% 5%;
	}

	#rightSection{
		float: left;
		width: 90%;
		max-width: none;
		margin: 1% 5% 14% 5%;
	}
}

#kevimg{
	height: 100px;
	margin: 10px;
	float: left;
}

.iconImg{
	max-width: 100px;
	min-width: 50px;
	margin:10px;
	float: left;
}

.formelementEmail{
	
}

.formelementMessage{
	width: 100%;
}

.portObject{
	position:relative;
	float: left;     
	width: 100px;
	height: 200px;
  background-image: url('../images/portfolioicon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
	border: 1px solid black;
	margin: 15px;
	overflow: hidden;
	box-shadow: -3px 3px 1px gray;
}

.portObject:hover{
	box-shadow: -5px 5px 2px gray;
}

.portImage{
	width:auto;
	height:100%;
	margin:1px;
	background-image: contain;
}

.portTitle{
	color: white;
	text-align: center;
	position:absolute;
	height: 10%;
	width: 90%;
	background-color: teal;
	padding-top: 3px;
	bottom: 15px;
	left: 5%;
}

.portTitle:hover{
	opacity: .8;
}